<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="project">
      <h2 data-cy="projectDetailsHeading"><span>Project</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ project.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ project.name }}</span>
        </dd>
        <dt><span>Start Date</span></dt>
        <dd>
          <span>{{ project.startDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Customer</span></dt>
        <dd>
          <span>{{ project.customer }}</span>
        </dd>
        <dt><span>Project Type</span></dt>
        <dd>
          <span>{{ project.projectType }}</span>
        </dd>
        <dt><span>Project Status</span></dt>
        <dd>
          <span>{{ project.projectStatus }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/project', project.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
